node_red_flow_DTS_1946v2.json
[{"id":"864c66eb4dca45c5","type":"tab","label":"DTS1946-4Pv2","disabled":false,"info":"","env":[]},{"id":"d2e63c6aad235baf","type":"debug","z":"864c66eb4dca45c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":1180,"wires":[]},{"id":"24b192558cb7ed29","type":"function","z":"864c66eb4dca45c4","name":"0x0000","func":"\n//var addr=0x0012; // P  L1\n//var addr=0x0018; // P total\n//var addr=0x0012; // P L1\n//var addr=0x001A; //  Q L1\n//var addr=0x002A; //  cosfi L1\nvar addr=0x0000; //  \nvar quantity= 2*60; //2*100;\n\n\n\n\n\n\n//var slave_ip=msg.payload.slave_ip;\n//msg.slave_ip=\"8.8.8.8\";\nmsg.payload={value: msg.payload, 'fc': 3, 'unitid': 1, 'address': addr , 'quantity': quantity };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":800,"wires":[["50c5b1b9959b2f22"]]},{"id":"50c5b1b9959b2f22","type":"modbus-flex-getter","z":"864c66eb4dca45c4","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"085bde4257725dec","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":false,"x":380,"y":800,"wires":[[],["7b890caac4f3afd7"]]},{"id":"03031b9cd5b6a8e3","type":"inject","z":"864c66eb4dca45c4","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":70,"y":800,"wires":[["24b192558cb7ed29"]]},{"id":"7b890caac4f3afd7","type":"function","z":"864c66eb4dca45c4","name":"0x0000 Ua, Ub, Uc - Energia Bierna Oddana","func":"\nmsg2={}\n//msg2.cosFiTotal=Buffer.from(msg.payload.buffer)[0]\n//.readFloatBE()\n\n\n//const bufRefIn = msg.payload.buffer.subarray(0, 4);  // Get a refrence to part of the buffer\n                                        \n// Copy that to isolate changes\n//const bufLocal = Buffer.from(bufRefIn);    \n\n// Note that the swapNN() affects all date in the buffer, thus swapping a single number is not possible                                                                     \n//if (SwapByteOrder){bufLocal.swap16();}                         // Swap Bytes in 16Bit Words > LE\n//if (SwapWordOrder){bufLocal.swap32();}                         // Swap Word16 order for 32Bit numbers > BEW\n//msg2.cosFiTotal = bufLocal.readFloatBE()\n//bufLocal.swap16()\nmsg2.Ua__V=msg.payload.buffer.subarray(0, 4).readFloatBE()\nmsg2.Ub__V=msg.payload.buffer.subarray(4, 8).readFloatBE()\nmsg2.Uc__V=msg.payload.buffer.subarray(8, 12).readFloatBE()\n\nmsg2.Uab__V=msg.payload.buffer.subarray(12, 16).readFloatBE()\nmsg2.Ubc__V=msg.payload.buffer.subarray(16, 20).readFloatBE()\nmsg2.Uca__V=msg.payload.buffer.subarray(20, 24).readFloatBE()\n\nmsg2.Ia__A=msg.payload.buffer.subarray(24, 28).readFloatBE()\nmsg2.Ib__A=msg.payload.buffer.subarray(28, 32).readFloatBE()\nmsg2.Ic__A=msg.payload.buffer.subarray(32, 36).readFloatBE()\n\nmsg2.Pa__kW=msg.payload.buffer.subarray(36, 40).readFloatBE()\nmsg2.Pb__kW=msg.payload.buffer.subarray(40, 44).readFloatBE()\nmsg2.Pc__kW=msg.payload.buffer.subarray(44, 48).readFloatBE()\n\nmsg2.P__kW=msg.payload.buffer.subarray(48, 52).readFloatBE()\n\nmsg2.Qa__kvar=msg.payload.buffer.subarray(52, 56).readFloatBE()\nmsg2.Qb__kvar=msg.payload.buffer.subarray(56, 60).readFloatBE()\nmsg2.Qc__kvar=msg.payload.buffer.subarray(60, 64).readFloatBE()\n\nmsg2.Q__kvar=msg.payload.buffer.subarray(64, 68).readFloatBE()\n\nmsg2.Sa__kVA=msg.payload.buffer.subarray(68, 72).readFloatBE()\nmsg2.Sb__kVA=msg.payload.buffer.subarray(72, 76).readFloatBE()\nmsg2.Sc__kVA=msg.payload.buffer.subarray(76, 80).readFloatBE()\n\nmsg2.S__kVA=msg.payload.buffer.subarray(80, 84).readFloatBE()\n\nmsg2.cosFia=msg.payload.buffer.subarray(84, 88).readFloatBE()\nmsg2.cosFib=msg.payload.buffer.subarray(88, 92).readFloatBE()\nmsg2.cosFic=msg.payload.buffer.subarray(92, 96).readFloatBE()\n\nmsg2.cosFi=msg.payload.buffer.subarray(96, 100).readFloatBE()\n\nmsg2.Freq__Hz=msg.payload.buffer.subarray(100, 104).readFloatBE()\n\nmsg2.EnergiaCzynnaPobrana__kWh=msg.payload.buffer.subarray(104, 108).readFloatBE()\nmsg2.EnergiaCzynnaOddana__kWh=msg.payload.buffer.subarray(108, 112).readFloatBE()\nmsg2.EnergiaBiernaPobrana__kvarh=msg.payload.buffer.subarray(112,116).readFloatBE()\nmsg2.EnergiaBiernaOddana__kvarh=msg.payload.buffer.subarray(116,120).readFloatBE()\n\n//msg2.energia10Wh=msg.payload.buffer.subarray(259,263).readUInt16BE()\n//msg2.topic='DTS1946-4P/0x0000';\nmsg2.topic='DTS1946-4P/data';\nreturn msg2","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":800,"wires":[["320e1fddb5c7ba6d","90c474f2986a3a46"]]},{"id":"504acacde0e8ca7c","type":"function","z":"864c66eb4dca45c4","name":"0x0106","func":"\n//var addr=0x0012; // P  L1\n//var addr=0x0018; // P total\n//var addr=0x0012; // P L1\n//var addr=0x001A; //  Q L1\n//var addr=0x002A; //  cosfi L1\nvar addr=0x0106; //  \nvar quantity= 2*20; //2*100;\n\n\n\n\n\n\n//var slave_ip=msg.payload.slave_ip;\n//msg.slave_ip=\"8.8.8.8\";\nmsg.payload={value: msg.payload, 'fc': 4, 'unitid': 1, 'address': addr , 'quantity': quantity };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":880,"wires":[["6fb448c04f43dc99"]]},{"id":"6fb448c04f43dc99","type":"modbus-flex-getter","z":"864c66eb4dca45c4","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"085bde4257725dec","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":false,"x":440,"y":880,"wires":[[],["cd24daa3e2c4852f"]]},{"id":"cd24daa3e2c4852f","type":"function","z":"864c66eb4dca45c4","name":"0x106-0120","func":"\nmsg2={}\n\n//msg2.EnergiaBiernaOddana=msg.payload.buffer.subarray(116,120).readFloatBE()\n\n//msg.value_UInt16LE = buf.readUInt16LE();\n//msg.value_UInt32LE = buf.readUInt32LE();\n\n//swap16()\nmsg2.p0106_energia_czynna_pobrana__Wh=10*msg.payload.buffer.subarray(0,4).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p0108_energia_czynna_oddana__Wh= 10*msg.payload.buffer.subarray(4,8).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p010A_energia_bierna_pobrana__varh=10*msg.payload.buffer.subarray(8,12).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p010C_energia_bierna_oddana__varh=10*msg.payload.buffer.subarray(12,16).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p010E_energia_pozorna__VAh=10*msg.payload.buffer.subarray(16,20).readUInt32BE();//.swap16()//.readUInt16LE();\n\nmsg2.p0110_energia_bierna_indukcyjna_pobrana__varh=10*msg.payload.buffer.subarray(20,24).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p0112_energia_bierna_pojemnosciowa_oddana__varh=10*msg.payload.buffer.subarray(24,28).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p0114_energia_bierna_indukcyjna_oddana__varh=10*msg.payload.buffer.subarray(24,28).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p0116_energia_bierna_pojemnosciowa_pobrana_varh=10*msg.payload.buffer.subarray(28,32).readUInt32BE();//.swap16()//.readUInt16LE();\n\nmsg2.p0118_energia_czynna_calkowita__Wh=10*msg.payload.buffer.subarray(32,36).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p011A_energia_czynna_tip__Wh=10*msg.payload.buffer.subarray(36,40).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p011C_peak__Wh=10*msg.payload.buffer.subarray(40,44).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p011E_flat__Wh=10*msg.payload.buffer.subarray(44,48).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p0120_valley__Wh=10*msg.payload.buffer.subarray(48,52).readUInt32BE();//.swap16()//.readUInt16LE();\n\n\nmsg2.p0122__Wh=10*msg.payload.buffer.subarray(52,56).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p0124__Wh=10*msg.payload.buffer.subarray(56,60).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p0126__Wh=10*msg.payload.buffer.subarray(60,64).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p0128__Wh=10*msg.payload.buffer.subarray(64,68).readUInt32BE();//.swap16()//.readUInt16LE();\nmsg2.p012A__Wh=10*msg.payload.buffer.subarray(68,72).readUInt32BE();//.swap16()//.readUInt16LE();\n\n//msg2.p0108_Wh=msg.payload.buffer.subarray(4,8).readUInt32LE();\n//msg2.p010A_varh=msg.payload.buffer.subarray(8,12).readUInt32LE();\n//msg2.topic='DTS1946-4P/0x0106';\nmsg2.topic='DTS1946-4P/data';\nreturn msg2","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":880,"wires":[["320e1fddb5c7ba6d","90c474f2986a3a46"]]},{"id":"1a219440aabcb923","type":"inject","z":"864c66eb4dca45c4","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":880,"wires":[["504acacde0e8ca7c"]]},{"id":"e070cfc4cd254171","type":"function","z":"864c66eb4dca45c4","name":"0x0600","func":"\n//var addr=0x0012; // P  L1\n//var addr=0x0018; // P total\n//var addr=0x0012; // P L1\n//var addr=0x001A; //  Q L1\n//var addr=0x002A; //  cosfi L1\nvar addr=0x0600; //  \nvar quantity= 2*15; //2*100;\n\n\n\n\n\n\n//var slave_ip=msg.payload.slave_ip;\n//msg.slave_ip=\"8.8.8.8\";\nmsg.payload={value: msg.payload, 'fc': 4, 'unitid': 1, 'address': addr , 'quantity': quantity };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":1120,"wires":[["f74563b4626eba75"]]},{"id":"f74563b4626eba75","type":"modbus-flex-getter","z":"864c66eb4dca45c4","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"085bde4257725dec","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":false,"x":460,"y":1120,"wires":[[],["979f2635133fd311","d2e63c6aad235baf","bdf19e8bdba0f5a4"]]},{"id":"979f2635133fd311","type":"function","z":"864c66eb4dca45c4","name":"0x0600","func":"\nmsg2={}\n\n//msg2.EnergiaBiernaOddana=msg.payload.buffer.subarray(116,120).readFloatBE()\n\n//msg.value_UInt16LE = buf.readUInt16LE();\n//msg.value_UInt32LE = buf.readUInt32LE();\n\n//swap16()\nmsg2.p0x600_Napięcie_fazowe_maksymalne__V=msg.payload.buffer.subarray(0,2).readUInt16BE()*0.1;//.swap16()//.readUInt16LE();\nmsg2.p0x601_Napięcie_przewodowe_maksymalne__V=msg.payload.buffer.subarray(2,4).readUInt16BE()*0.1;//.swap16()//.readUInt16LE();\nmsg2.p0x602_Prąd_maksymalny__A=msg.payload.buffer.subarray(4,6).readUInt16BE()*0.01;//.swap16()//.readUInt16LE();\n\nmsg2.p0x603_Moc_czynna_maksymalna__W=10*msg.payload.buffer.subarray(6,8).readUInt16BE();//.swap16()//.readUInt16LE();\nmsg2.p0x604_Moc_bierna_maksymalna__var=10*msg.payload.buffer.subarray(8,10).readUInt16BE()//.swap16()//.readUInt16LE();\nmsg2.p0x605_Moc_pozorna_maksymalna__VA=10*msg.payload.buffer.subarray(10,12).readUInt16BE()//.swap16()//.readUInt16LE();\n\nmsg2.topic='DTS1946-4P/data';\nmsg2.complete = true\nreturn msg2","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1120,"wires":[["320e1fddb5c7ba6d","90c474f2986a3a46","d2e63c6aad235baf"]]},{"id":"45a9b89b4c601bbc","type":"inject","z":"864c66eb4dca45c4","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":1120,"wires":[["e070cfc4cd254171"]]},{"id":"537d94d80cdd904d","type":"mqtt out","z":"864c66eb4dca45c4","name":"DTS1946_4P","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"228b414a477cdc5e","x":920,"y":1020,"wires":[]},{"id":"320e1fddb5c7ba6d","type":"function","z":"864c66eb4dca45c4","d":true,"name":"mqtt","func":"var m = JSON.parse(JSON.stringify(msg));\n\nmsg.topic = m.topic\nmsg.payload = m\nmsg.retain = true\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":920,"wires":[["537d94d80cdd904d"]]},{"id":"f8b502be94ebc4ec","type":"function","z":"864c66eb4dca45c4","name":"0x0200","func":"\n//var addr=0x0012; // P  L1\n//var addr=0x0018; // P total\n//var addr=0x0012; // P L1\n//var addr=0x001A; //  Q L1\n//var addr=0x002A; //  cosfi L1\nvar addr=0x0200; //  \nvar quantity= 2*26; //2*100;\n\n\n\n\n\n\n//var slave_ip=msg.payload.slave_ip;\n//msg.slave_ip=\"8.8.8.8\";\nmsg.payload={value: msg.payload, 'fc': 4, 'unitid': 1, 'address': addr , 'quantity': quantity };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":980,"wires":[["876ca4f28f965d69"]]},{"id":"876ca4f28f965d69","type":"modbus-flex-getter","z":"864c66eb4dca45c4","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"085bde4257725dec","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"keepMsgProperties":false,"x":440,"y":980,"wires":[[],["e13260ae980bf21a"]]},{"id":"e13260ae980bf21a","type":"function","z":"864c66eb4dca45c4","name":"0x0200","func":"\nmsg2={}\n\n//msg2.EnergiaBiernaOddana=msg.payload.buffer.subarray(116,120).readFloatBE()\n\n//msg.value_UInt16LE = buf.readUInt16LE();\n//msg.value_UInt32LE = buf.readUInt32LE();\n\n//swap16()\nmsg2.p0x200_Ua_V=0.1*msg.payload.buffer.subarray(0,2).readUInt16BE();//.swap16()//.readUInt16LE();\nmsg2.p0x201_Ub_V=0.1*msg.payload.buffer.subarray(2,4).readUInt16BE();//.swap16()//.readUInt16LE();\nmsg2.p0x202_Uc_V=0.1*msg.payload.buffer.subarray(4,6).readUInt16BE();//.swap16()//.readUInt16LE();\n\nmsg2.p0x203_Uab_V=0.1*msg.payload.buffer.subarray(6,8).readUInt16BE();//.swap16()//.readUInt16LE();\nmsg2.p0x204_Ubc_V=0.1*msg.payload.buffer.subarray(8,10).readUInt16BE();//.swap16()//.readUInt16LE();\nmsg2.p0x205_Uca_V=0.1*msg.payload.buffer.subarray(10,12).readUInt16BE();//.swap16()//.readUInt16LE();\n\nmsg2.p0x206_Ia_A=0.01*msg.payload.buffer.subarray(12,14).readUInt16BE();//.swap16()//.readUInt16LE();\nmsg2.p0x207_Ib_A=0.01*msg.payload.buffer.subarray(14,16).readUInt16BE();//.swap16()//.readUInt16LE();\nmsg2.p0x208_Ic_A=0.01*msg.payload.buffer.subarray(16,18).readUInt16BE();//.swap16()//.readUInt16LE();\n\nmsg2.p0x209_Pa_W=10*msg.payload.buffer.subarray(18,20).readUInt16BE();//.swap16()//.readUInt16LE();\nmsg2.p0x20A_Pb_W=10*msg.payload.buffer.subarray(20,22).readUInt16BE();//.swap16()//.readUInt16LE();\nmsg2.p0x20B_Pc_W=10*msg.payload.buffer.subarray(22,24).readUInt16BE();//.swap16()//.readUInt16LE();\n\nmsg2.topic='DTS1946-4P/data';\n//msg2.topic='DTS1946-4P/0x0200';\nreturn msg2","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":980,"wires":[["320e1fddb5c7ba6d","90c474f2986a3a46"]]},{"id":"68b6b835149582fc","type":"inject","z":"864c66eb4dca45c4","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":980,"wires":[["f8b502be94ebc4ec"]]},{"id":"b1055df97d6f33f2","type":"inject","z":"864c66eb4dca45c4","name":"","props":[],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":620,"wires":[["24b192558cb7ed29","db51c5623404b4d5","b0ccbddbf9d38c5b","c6f9dcd4affa0c5f"]]},{"id":"90c474f2986a3a46","type":"join","z":"864c66eb4dca45c4","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":1260,"wires":[["e83f9dce7f388e8b","d2e63c6aad235baf"]]},{"id":"e83f9dce7f388e8b","type":"function","z":"864c66eb4dca45c4","name":"mqtt","func":"var m = JSON.parse(JSON.stringify(msg));\n\nmsg.topic = m.topic\nmsg.payload = m\nmsg.retain = true\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1280,"wires":[["537d94d80cdd904d"]]},{"id":"bdf19e8bdba0f5a4","type":"debug","z":"864c66eb4dca45c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":1360,"wires":[]},{"id":"db51c5623404b4d5","type":"delay","z":"864c66eb4dca45c4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":300,"y":620,"wires":[["504acacde0e8ca7c"]]},{"id":"b0ccbddbf9d38c5b","type":"delay","z":"864c66eb4dca45c4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":300,"y":660,"wires":[["f8b502be94ebc4ec"]]},{"id":"c6f9dcd4affa0c5f","type":"delay","z":"864c66eb4dca45c4","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":300,"y":700,"wires":[["e070cfc4cd254171"]]},{"id":"085bde4257725dec","type":"modbus-client","name":"usb0","clienttype":"serial","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":5,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false},{"id":"228b414a477cdc5e","type":"mqtt-broker","name":"","broker":"8.8.8.8","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]